flutter_build
notifications.db
.env
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# custom
/test/failures/
/flog.db
/.dev.env
/ios/Runner.app.dSYM.zip
/ios/Runner.ipa
/ios/fastlane/Preview.html
/ios/production_it.notifi.notifi.p12
/ios/production_it.notifi.notifi.pem
/ios/production_it.notifi.notifi.pkey
/macos/notifi.app.dSYM.zip
/macos/notifi.app/
/ios/fastlane/report.xml
/macos/fastlane/report.xml
AuthKey_MK4628AYTK.p8
/.env
/.env.prod
pubspec.lock
/android/key.json
*.jks