# --------  Xcode --------
Swift.gitignore
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
# ------- end --------

#CUSTOM 
db.pass
db.user
encryption.key
notifi.it/vendor
*.psd
composer.lock
notifi.it/vendor
notifi.it/_compareTemp
google*.html
Mac App/Pods
Podfile.lock
server.path
notifi.it/favicons
Mac App/keys
updates.php
AppDelegate copy.m
animation/Adobe After Effects Auto-Save
