<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678100609736-2qaf06ltc8do0bm5l5fi3b708jhjssj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678100609736-2qaf06ltc8do0bm5l5fi3b708jhjssj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAYDU563Z8prfMtQpWpFc8jVkGAvppP9rk</string>
	<key>GCM_SENDER_ID</key>
	<string>678100609736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.me.max.notifi</string>
	<key>PROJECT_ID</key>
	<string>notifi-96ef2</string>
	<key>STORAGE_BUCKET</key>
	<string>notifi-96ef2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678100609736:ios:0b1dd12ce20ac6737653fd</string>
	<key>DATABASE_URL</key>
	<string>https://notifi-96ef2.firebaseio.com</string>
</dict>
</plist>