<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notifi</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
				<key>dateExpires</key>
				<string>07/09/2020</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
						<key>dateExpires</key>
						<string>07/09/2020</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>A</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H49MXS325</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
						<key>dateExpires</key>
						<string>07/09/2020</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>A</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H49MXS325</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
						<key>dateExpires</key>
						<string>07/09/2020</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>A</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H49MXS325</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
						<key>dateExpires</key>
						<string>07/09/2020</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>A</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H49MXS325</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
						<key>dateExpires</key>
						<string>07/09/2020</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>A</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H49MXS325</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
						<key>dateExpires</key>
						<string>07/09/2020</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
								<key>dateExpires</key>
								<string>07/09/2020</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>embeddedBinaries</key>
							<array>
								<dict>
									<key>architectures</key>
									<array>
										<string>x86_64</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>10159E1698AC4DD1962680806398942BC86EA49D</string>
										<key>dateExpires</key>
										<string>07/09/2020</string>
										<key>type</key>
										<string>Developer ID Application</string>
									</dict>
									<key>name</key>
									<string>fileop</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>3H49MXS325</string>
										<key>name</key>
										<string></string>
									</dict>
								</dict>
							</array>
							<key>name</key>
							<string>Autoupdate.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>3H49MXS325</string>
								<key>name</key>
								<string></string>
							</dict>
						</dict>
					</array>
					<key>name</key>
					<string>A</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3H49MXS325</string>
						<key>name</key>
						<string></string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>notifi.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3H49MXS325</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
