* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	color: #EFEFEF;
	text-transform: uppercase;
}
body {
	background-color: #F87B87;
	margin: 0;
}
page {
	padding: 10px;
	width: 100%;
	display: table;
	margin: 0;
	max-width: none;
	background: #5C6785; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#6E7892, #364365); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#6E7892, #364365); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#6E7892, #364365); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#6E7892, #364365); /* Standard syntax */
	height: 100vh;/*border-bottom:#B9B9B9 1px solid;*/
}

@media only screen and (max-device-width: 480px) {
	page {
		width: 100vh;
	}
}
page:nth-child(odd) {
	background: #F87B87; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#FA8F99, #DA4553); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#FA8F99, #DA4553); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#FA8F99, #DA4553); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#FA8F99, #DA4553); /* Standard syntax */
 	--webkit-box-shadow:inset 0 0 10px rgba(50, 50, 50, 0.45);
	-moz-box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.45);
	box-shadow: inset 0 0 10px rgba(50, 50, 50, 0.45);
}
page:nth-child(odd) a {
	color: #5C6785;
	text-decoration: none;
}
page:nth-child(even) a {
	color: #F87B87; 
	text-decoration: none;
}
#info a:hover {
	color: #EFEFEF;
	text-decoration: underline;
}
#down {
	font-size: 30px;
	color: #EFEFEF;
	border: #EFEFEF solid 1px;
	padding: 10px;
	letter-spacing: 10px;
}
a {
	cursor: pointer;
	-webkit-transition: color 200ms linear;
	-moz-transition: color 200ms linear;
	-o-transition: color 200ms linear;
	-ms-transition: color 200ms linear;
	transition: color 200ms linear;
}
a:after {
	cursor: pointer;
}
input[type=submit] {
	cursor: pointer;
	border: #EFEFEF dashed 1px;
	padding: 10px;
	background-color: Transparent;
	color: #1F8476;
	font-size: 40px;
	letter-spacing: 10px;
}
input[type=submit]:hover {
	-webkit-text-fill-color: #F87B87;
}
#sendEmail {
	border: #EFEFEF solid 1px;
	color: #EFEFEF;
}
#sendEmail:hover {
	-webkit-text-fill-color: #5C6785;
	border: #EFEFEF solid 1px;
	text-shadow: 3px 3px 0px rgba(248,123,135,1);
}
input[type=submit]:disabled {
	cursor: wait;
}
#down:hover {
	color: #5C6785;
	cursor: pointer;
	text-shadow: 3px 3px 0px rgba(248,123,135,1);
}
li {
	font-size: 28px;
	list-style: none;
}
#proInfo {
	color: #6C6C6C;
}
h1{
	letter-spacing:2px;
}
h2 {
	font-size: 40px;
	text-decoration: underline;
}
h3 {
	font-size: 25px;
}
#navMenu {
	letter-spacing: 5px;
}
#navMenu a:hover {
	color: #EFEFEF;
}
#info {
	font-family: 'Muli', sans-serif;
	text-transform: none;
	font-size: 22px;
}
.lineText {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #EFEFEF;/*color: #F87B87;
  	text-shadow:
   -1px -1px 0 #EFEFEF,  
    1px -1px 0 #EFEFEF,
    -1px 1px 0 #EFEFEF,
     1px 1px 0 #EFEFEF;*/
}
#price {
	-webkit-text-fill-color: #F87B87;
}
input[type="text"], input[type="email"], textarea {
	background-color : #FBA1AA;
	border: none;
	width: 60%;
	font-size: 40px;
	color: #ECECEC;
	text-transform: none;
	outline: none;
}
textarea {
	font-size: 25px;
}
#contactForm input {
	font-family: 'Muli', sans-serif;
}
.shadowed {
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
	filter: url(#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.homeButton {
	position: fixed;
	right: 10px;
	-webkit-filter: drop-shadow(4px 4px 5px rgba(255,255,255,0.5));
	filter: url(#drop-shadow);
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#fff')";
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=4, OffY=4, Color='#fff')";
}
.box {
	border: #bc2122 dashed 1px;
	padding: 10px;
}
